@import "variables";

@import "~@coreui/coreui/scss/coreui.scss";

@import "fixes";

@import "custom";
.margin-top {
  margin-top: 80px;
}

.margin-top2 {
  margin-top: 100px;
}

.color {
  color: blue;
}
.colorWhite {
  color: black;
}
.family {
  font-family: monospace;
}

.colorRed {
  color: red;
}

.size {
  font-size: large;
  font-weight: bold;
}

.cardcolor {
  background: #ebf5fb;
  font-family: sans-serif;
  font-size: large;
}

.card-headcolor {
  background: #aed6f1;
  font-family: sans-serif;
  font-size: large;
}

.data {
  font-size: x-large;
  font-family: sans-serif;
  background: #ebf5fb;
}

.headings {
  color: blue;
}

.big-size {
  font-size: large;
}

.accessibility-bar {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.div_aligns {
  display: flex;
  width: 100% !important;
  text-align: center;
  justify-content: center;
}

.topbar-leftAlignment {
  margin-left: -243px !important;
}

.fontArial {
  font-family: Arial, Helvetica, sans-serif;
}

.fontTimes {
  font-family: "Times New Roman", Times, serif;
}

.fontComic {
  font-family: cursive;
}

.fontMono {
  font-family: monospace;
}

.bgColor {
  background: red;
}

.greenColor {
  color: green;
}

.lastColor {
  color: brown;
}
